<!DOCTYPE html>
<html>
<head>
    <title>Weather Search</title>
    <link rel="stylesheet" type="text/css" href="/weather.css"></link>
</head>
<body>
    <h1>Check the Weather</h1>
    <form action="/weather/results" method="GET">
        <label for="city">Enter a city:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Get Weather</button>
    </form>
</body>
</html>